<label id='filter-header'>Filter Options</label>

<div id='filter-price' class='filter-widget'>
	<label>Price</label>
	<div id='slider-price' class='filter-slider'></div>
	<div class='filter-slider-output'>$<span id='slider-price-lower'>5</span> - $<span id='slider-price-upper'>250+</span>/day</div>
</div>

<div id='filter-seating' class='filter-widget'>
	<label>Seating</label>
	<select id='selectmenu-seating' class='filter-selectmenu'>
		<option value='all'>All Seating</option>
		<option value='2'>2 seats</option>
		<option value='4'>4 seats</option>
		<option value='5'>5 seats</option>
		<option value='6'>6 seats</option>
		<option value='7'>7 seats</option>
		<option value='8'>8 seats</option>
	</select>
</div>

<div id='filter-model' class='filter-widget'>
	<label>Model</label>
	<select id='selectmenu-model' class='filter-selectmenu'>
		<option value='all'>All Models</option>
		<option value='ECAR'>Economy</option>
		<option value='CCAR'>Compact</option>
		<option value='FCAR'>Full-Size Car</option>
		<option value='FFAR,FRAR'>Full-Size SUV</option>
		<option value='ICAR'>Mid-Size Car</option>
		<option value='IFAR'>Mid-Size SUV</option>
		<option value='LCAR'>Luxury Car</option>
		<option value='MVAR'>Minivan</option>
		<option value='PCAR'>Premium Car</option>
		<option value='SCAR'>Standard Car</option>
		<option value='SFAR'>Standard SUV</option>
		<option value='SPAR'>Standard Pickup</option>
		<option value='STAR'>Convertible Car</option>
		<option value='SXAR,XXAR'>Special Car</option>
	</select>
</div>

<div id='filter-features' class='filter-widget'>
	<label>Features</label>
	<select id='selectmenu-features' class='filter-selectmenu'>
		<option value='all'>All Features</option>
		<option>Automatic Transmission</option>
		<option>Air Conditioning</option>
		<option>Air Bags</option>
		<option>AM/FM Stereo</option>
		<option>Power Steering</option>
		<option>Anti-Lock Brakes</option>
		<option>Cruise Control</option>
		<option>CD Player</option>
		
	</select>
</div>

<div id='filter-miles' class='filter-widget'>
	<label>Miles</label>
	<div id='slider-miles' class='filter-slider'></div>
	<div class='filter-slider-output'><span id='slider-miles-lower'>500</span> - <span id='slider-miles-upper'>Unlimited</span> mi/week</div>
</div>

<div>
	<a href='' id='filter-clear'>Clear Filters</a>
</div>